In [9]:
import pandas as pd
import numpy as np

# 데이터 불러오기

In [2]:
df = pd.read_csv("df.csv", encoding='utf-8')

In [3]:
df.head()

,id,title,review,score,sentiment
0,17998769,반지의 제왕: 왕의 귀환,판타지를 넘어 영화 역사에 남을 명작이다. 내가 이걸 왜 극장에서 못봤을까.... ...,10.0,NaN
1,17998767,나일 강의 죽음,이집트여행하는느낌의 영화,8.0,NaN
2,17998766,킹메이커,목포 연설 장면은 넋을 잃고 보게 된다.,10.0,NaN
3,17998765,기억의 밤,그저 그렇네요. 뻔한 반전과 결말.,4.0,NaN
4,17998764,더 배트맨,더 배트맨 조커처럼 몰입감이 있으면 추천 반대로 지루하면 비추천,1.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         9357 non-null   int64
 1   title      9357 non-null   object
 2   review     9357 non-null   object
 3   score      9357 non-null   float64
 4   sentiment  0 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 365.6+ KB

# 전처리 시작

In [5]:
#모든 행이 동일한 데이터가 있는지 확인
aaa = df.duplicated(subset=['title', 'review', 'score'])
aa = aaa.sum()
print(aa) #27

#첫 행만 두고 중복값 제거
df.drop_duplicates(['title', 'review', 'score'], keep='first', inplace=True)

#라벨링
df['sentiment'] = df.apply(lambda x: 1 if x['score']>=8 else 0, axis=1)

# 한글과 공백을 제외하고 모두 제거
df['review'] = df['review'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

27

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

In [10]:
#한글이 없는 리뷰 확인
df['review'] = df['review'].str.replace('^ +', "") # white space 데이터를 empty value로 변경
df['review'].replace('', np.nan, inplace=True)
print(df.isnull().sum())

#한글이 없는 리뷰 삭제
df.dropna(inplace=True)
print(df.isnull().sum())

id            0
title         0
review       26
score         0
sentiment     0
dtype: int64
id           0
title        0
review       0
score        0
sentiment    0
dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

# 최종 base df

In [11]:
df.head()

,id,title,review,score,sentiment
0,17998769,반지의 제왕: 왕의 귀환,판타지를 넘어 영화 역사에 남을 명작이다 내가 이걸 왜 극장에서 못봤을까 폰으로 봤...,10.0,1
1,17998767,나일 강의 죽음,이집트여행하는느낌의 영화,8.0,1
2,17998766,킹메이커,목포 연설 장면은 넋을 잃고 보게 된다,10.0,1
3,17998765,기억의 밤,그저 그렇네요 뻔한 반전과 결말,4.0,0
4,17998764,더 배트맨,더 배트맨 조커처럼 몰입감이 있으면 추천 반대로 지루하면 비추천,1.0,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9304 entries, 0 to 9356
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         9304 non-null   int64
 1   title      9304 non-null   object
 2   review     9304 non-null   object
 3   score      9304 non-null   float64
 4   sentiment  9304 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 436.1+ KB

In [13]:
df.to_csv("base_df.csv")

<konlpy에서 제공하는 형태소 분석기><br>

Mecab: 굉장히 속도가 빠르면서도 좋은 분석 결과를 보여준다.<br>
Komoran: 댓글과 같이 정제되지 않은 글에 대해서 먼저 사용해보면 좋다.(오탈자를 어느정도 고려해준다.)<br>
Kkma: 분석 시간이 오래걸리기 때문에 잘 이용하지 않게 된다.<br>
Okt: 품사 태깅 결과를 Noun, Verb등 알아보기 쉽게 반환해준다.<br>
khaiii: 카카오에서 가장 최근에 공개한 분석기, 성능이 좋다고 알려져 있으며 다양한 실험이 필요하다.<br>

다음 파일에서부터 형태소 분석기 별로 나눠서 진행하고자 함