In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("./대구_final_test.csv", encoding='cp949')
data.head()

,Unnamed: 0,정류소아이디,경도,위도,정류소명_x,시장,산업단지,지하철역 수,출근,퇴근
0,0,7001000100,128.577130,35.858690,대명시장앞,3,0,0.0,26874,23386
1,1,7001000100,128.577130,35.858690,대명시장앞,3,0,0.0,4985,5158
2,2,7001000200,128.577815,35.858640,대명시장건너,3,0,0.0,17379,22317
3,3,7001000200,128.577815,35.858640,대명시장건너,3,0,0.0,3360,4894
4,4,7001000300,128.580848,35.857112,계명대학교대명캠퍼스앞,4,0,0.0,11964,17082

In [4]:
data.drop(['Unnamed: 0', '위도', '경도'], axis=1, inplace=True)
data.head()

       정류소아이디       정류소명_x  시장  산업단지  지하철역 수     출근     퇴근
0  7001000100        대명시장앞   3     0     0.0  26874  23386
1  7001000100        대명시장앞   3     0     0.0   4985   5158
2  7001000200       대명시장건너   3     0     0.0  17379  22317
3  7001000200       대명시장건너   3     0     0.0   3360   4894
4  7001000300  계명대학교대명캠퍼스앞   4     0     0.0  11964  17082

In [5]:
final1 = data[['정류소아이디', '정류소명_x', '지하철역 수', '산업단지', '시장', '출근']]
final1.columns = ['station_id', 'station_name', 'subway','complex', 'market', 'before']
final2 = data[['정류소아이디', '정류소명_x', '지하철역 수', '산업단지', '시장', '퇴근']]
final2.columns = ['station_id', 'station_name', 'subway','complex', 'market', 'before']

ffinal = pd.concat([final1, final2], ignore_index=True)
ffinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12890 entries, 0 to 12889
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    12890 non-null  int64
 1   station_name  12890 non-null  object
 2   subway        12890 non-null  float64
 3   complex       12890 non-null  int64
 4   market        12890 non-null  int64
 5   before        12890 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 604.3+ KB

In [8]:
ffinal['after']=0
ffinal.head()

   station_id station_name  subway  complex  market  before  after
0  7001000100        대명시장앞     0.0        0       3   26874      0
1  7001000100        대명시장앞     0.0        0       3    4985      0
2  7001000200       대명시장건너     0.0        0       3   17379      0
3  7001000200       대명시장건너     0.0        0       3    3360      0
4  7001000300  계명대학교대명캠퍼스앞     0.0        0       4   11964      0

In [9]:
ffinal.to_csv("대구최종.csv", encoding='cp949')