In [1]:
import pandas as pd
from haversine import haversine

In [2]:
df_complex = pd.read_csv("./산업지구.csv", encoding='cp949')
df_complex.rename(columns={'name':'산업단지명','y':'경도','x':'위도'},inplace =True)

df_complex.head()

         산업단지명         위도          경도
0  한국수출(서울디지털)  37.476807  126.883313
1   한국수출(부평지구)  37.519744  126.716224
2   한국수출(주안지구)  37.472195  126.678147
3  명지·녹산(녹산지구)  35.092072  128.836345
4  명지·녹산(명지지구)  35.084489  128.903615

In [4]:
df_seoul = pd.read_csv("./서울시버스정류소좌표데이터(20220329).csv",encoding='cp949')
df_seoul.rename(columns={'X좌표':'경도','Y좌표':'위도'},inplace =True)

df_seoul.head()

       정류소ID  ARS-ID           정류소명          경도         위도
0  100000001    1001        종로2가사거리  126.987750  37.569765
1  100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2  100000003    1003      명륜3가.성대입구  126.998340  37.582671
3  100000004    1004       종로2가.삼일교  126.987613  37.568579
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243

### 시작시작시작

In [7]:
df_seoul['산단'] = 0
df_seoul.drop('ARS-ID', axis=1, inplace=True)
df_seoul.head()

       정류소ID           정류소명          경도         위도  산단
0  100000001        종로2가사거리  126.987750  37.569765   0
1  100000002    창경궁.서울대학교병원  126.996566  37.579183   0
2  100000003      명륜3가.성대입구  126.998340  37.582671   0
3  100000004       종로2가.삼일교  126.987613  37.568579   0
4  100000005  혜화동로터리.여운형활동터  127.001744  37.586243   0

In [8]:
for i in range(len(df_seoul)):
    place1 = (df_seoul.iloc[i]['경도'],df_seoul.iloc[i]['위도'])
    for j in range(len(df_complex)):
        place2 = (df_complex.iloc[j]['경도'], df_complex.iloc[j]['위도'])
        if haversine(place1, place2, unit='m') <500:
            df_seoul.iloc[i,4] +=1

In [ ]:
df_seoul.head()

In [ ]:
df_seoul.drop(['경도', '위도'], axis=1, inplace=True)
df_seoul.to_csv("서울 산업단지.csv", encoding=True)